* {
    color: #005073;
    /* rgb(0,80,115) */
    color: #107dac;
    /* rgb(16,125,172) */
    color: #189ad3;
    /* rgb(24,154,211) */
    color: #1ebbd7;
    /* rgb(30,187,215) */
    color: #71c7ec;
    /* rgb(113,199,236) */
}
