*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;  /* mac dinh la 16px */
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

/* -------------------------------------------- */
/* -------------REUSABLE COMPONENT------------ */
/* ------------------------------------------------ */

.btn {
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 3px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: .3s;
}

.btn:hover,
.btn:active {
    background-color: #d53400;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font-size: 300%;
    font-weight: 400;
    word-spacing: 5px;
    color: white;
    line-height: 135%;
}

h2 {
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}

h2::after {
    content: " ";
    display: block;
    width: 150px;
    height: 2px;
    background-color: rgba(230, 126, 34, 0.5);
    margin: 0 auto;
    margin-top: 5px;
}

h3 {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #005073; 
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 15px;
}

.p-long {
    text-align: center;
    color: #005073;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}

section {
    padding: 50px;
}

.small-icon {
    color: #086288;
    font-size: 130%;
    margin-right: 10px;
}
/* -------------------------------------------- */
/* ------------------HEADER------------------ */
/* ------------------------------------------------ */
header{
    background-image: linear-gradient(rgba(0,80,115, .5), rgba(59, 178, 230, 0.5)), url("../image/background4.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;  /* vh aka view height */
    background-attachment: fixed;
}

.logo {
    width: 150px;
    float: left; 
    margin-left: 70px;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.5s; /*delay border-bottom*/
    padding: 3px 0; /*khoang cach border-bottom*/
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #cccccc;
}

.heading-main-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
    width: 1140px;
}

.about-picture {
    position: relative;
}

.about-picture img {
    width: 90%;
    border-radius: 20px;
    border: 4px solid #71c7ec;
    box-shadow: 0px 5px 15px 5px #005073;
    transition: all 0.8s;
    /* filter: brightness(50%) blur(2px); */
}

.picture-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-60%, 100%);
    opacity: 0;
    transition: all 0.8s;
}

.about-picture:hover img,
.about-picture:active img {
    filter: brightness(50%) blur(2px);
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title {
    transform: translate(-60%, -50%);
    opacity: 1;
}
/* --------------------------- */
/* ------PRODUCT SECTION------ */
/* --------------------------- */

.products-section {
    background-color: #f4f4f4;
}

.products-section h2 {
    margin-bottom: 60px;
}

.product-box {
    background-color: #eeefff;
    width: 90%;
    height: 350px;
    box-shadow: 3px 5px 10px #e0e0e0;
}

.product-price {
    color: #005073;
    font-size: 250%; 
    font-weight: 300;
    text-align: center;
}

.product-price span {
    font-size: 80%;
}

.product-box ul li {
    list-style: none;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-box .btn {
    margin-left: 20%;
}
/* ------------------------------- */
/* ------TESTIMONIALS SECTION---- */
/* ----------------------------- */

.testimonials-section {
    background-image: linear-gradient(rgba(0,80,115, .5), rgba(59, 178, 230, 0.5)), url('../image/background4.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.testimonials-section h2 {
    margin-bottom: 70px;
}

blockquote {
    width: 95%;
    position: relative;
    font-style: italic;
    line-height: 140%;
    color: white;
}

blockquote::before {
    content: '\201C';
    display: block; 
    font-size: 400%;
    position: relative;    
    top: 20px;
    right: 10px; 
}

cite {
    display: block;
    color: black;
    margin-top: 25px;
}

cite img {
    width: 100px;
    height: 100px;
    border-radius: 50px 50px ;
    border: 2px solid #086288;
    vertical-align: middle;
    margin-right: 5px;
}